# Python virtual environment
venv/
.env/
.env
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
dist/
build/

# IDE / editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
